@using Microsoft.AspNetCore.Identity
@using AuthDatabase.Entities;


@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager



<!DOCTYPE html>
<html>
<head>
    @*<meta charset="utf-8" />*@
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - ShallowLib</title>

    @*<environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
    <header>
        <div class="bg-dark collapse" id="navbarHeader" style="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">This is a repository of my collection films, books and Cd's. Have fun !! :) </p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Follow on Twitter</a></li>
                            <li><a href="#" class="text-white">Like on Facebook</a></li>
                            <li><a href="#" class="text-white">Email me</a></li>
                            <li><a class=" text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand d-flex align-items-center " asp-area="" asp-controller="Home" asp-action="Index">
                    <strong>HOME</strong>
                </a>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="text-muted" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
                    </a>


                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                            <ul class="nav navbar-nav navbar-right ">
                                <li>
                                    <button type="submit" class="btn btn-sm btn-outline-secondary  navbar-link">Sign out</button>
                                </li>
                            </ul>
                        </form>
                    }
                    else
                    {
                        <a class="btn btn-sm btn-outline-secondary " asp-area="" asp-controller="Account" asp-action="Login">Sign in</a>
                    }


                </div>
            </div>

        </div>
    </header>

    <div class="jumbotron text-center " style="margin-bottom:0">
        <h1>Welcome into ShallowLIB</h1> <br>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                    <ul class="nav navbar-nav navbar-right ">
                        <li>
                            <a class="nav-link text-dark badge badge-info  " asp-area="" asp-controller="Manage" asp-action="Index" title="Manage"></a>
                            <strong> @UserManager.GetUserName(User) </strong>
                        </li>
                    </ul> <br>
                    <p> The best library of the World!.</p>
                </form>
            }
            else
            {
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>

                    </li>
                </ul>
            }
        </div>

    </div>

    @*<div class="container">
        <div class="row blog">
            <div class="col-md-12">
                <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#blogCarousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Carousel items -->
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="row">
                                @RenderBody()
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                        <div class="carousel-item">
                            <div class="row">
                                @RenderBody()
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                    </div>
                    <!--.carousel-inner-->
                </div>
                <!--.Carousel-->

            </div>
        </div>
    </div>*@




    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <div class="container">
        <header>
            <nav class=" navbar navbar-dark nav-tabs">
                <a class="navbar-brand" herf="#"> Test </a>
            </nav>
        </header>
        <div class="row">
            <div class="row">
            </div>
            @RenderBody()
        </div>
  </div>  


    @*<div class="container  body-content">
            <partial name="_CookieConsentPartial" />
            <div class="row">

                @RenderBody()
            </div>
        </div>*@






    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - ShallowLib by Janusze GbmH - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>



    @RenderSection("Scripts", required: false)
</body>
</html>
